html {
    background-color: gainsboro;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    background-color: #fff;
    height: 150vh;
    border-radius: 5px;
    
}
/** HEADER **/

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white ;
    height: 65px;
    margin-bottom: 50px;
}
.header-nav {
    display: flex;
    align-content: center;
}
.header-navs {
    padding: 20px 10px;
    justify-content: space-between;
    align-content: center;
}
.header-nav a {
    text-decoration: none;
    color: rgb(48, 45, 45);
}
.header-img {
    width: 20%;
    height: 100%;
}
.header-btn {
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: auto 25px auto 0;
    height: 70%;
    width: auto;
    color: whitesmoke;
    background-color: rgb(207, 39, 39);
    border: none;
}

/** BODY **/

div {
    display: flex;
}
.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 130px;
}
.info p {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 70%;
    margin: 8px auto;
}
.hp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 37px;
    color: rgb(37, 34, 80);
    line-height: 1em;
}
strong {
    margin: 0 3px;
}
.cp {
    font-size: 21px;
    line-height: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(138, 138, 180);
}
.section-img {
    width: 70%;
    height: 230px;
    margin: 10px auto 0;
    opacity: 0.5;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}


h6 {
    display: flex;
    font-size: 17px;
    margin: 0 auto 25px 0;
}
h6 u {
    
    margin-right: 20px;
}

.enroll-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding:  30px ;
    border: 1px solid #000;
    border-radius: 10px;
}

label {
    margin-bottom: 20px;
}
label input,
label select {
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    border: 1px solid #000;
}

.form-btn {
    width: 110px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(63, 151, 63);
    color: #fff;
}





/** COURTESY JDAVYDZ **/







